spring/src/main/resources/META-INF/hrpc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.lambert.com/schema/hrpc"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://www.lambert.com/schema/hrpc">


    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="interface" type="xsd:string" use="required" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="service" >
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:propertyType">
                    <xsd:attribute name="interface" type="xsd:string" use="required" />
                    <xsd:attribute name="ref" type="xsd:string" use="optional" />
                    <xsd:attribute name="class" type="xsd:string" use="optional" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="registry" >
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:propertyType">
                    <xsd:attribute name="address" type="xsd:string" use="optional"/>
                    <xsd:attribute name="class" type="xsd:string" use="optional" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="serialization" >
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType" >
                    <xsd:attribute name="class" type="xsd:string" use="optional" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="handler" >
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:propertyType" >
                    <xsd:attribute name="class" type="xsd:string" use="optional" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="receiveServer" >
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:propertyType" >
                    <xsd:attribute name="class" type="xsd:string" use="optional" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="sender" >
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:propertyType">
                    <xsd:attribute name="class" type="xsd:string" use="optional" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="rpcServer" >
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:propertyType">
                    <xsd:attribute name="class" type="xsd:string" use="optional" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="rpcProxyFactory" >
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:propertyType">
                    <xsd:attribute name="class" type="xsd:string" use="optional" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>